<div class="list-table-wrapper">
    <div class="tool-filter ">
        <h1>{{ $ctrl.name }}</h1>
        <div ng-if="$ctrl.$rootScope.user.role !== 'admin'">
            <p>SDA</p>
            <button class="btn btn-primary" ng-if="$ctrl.$rootScope.user.order" ng-click="$ctrl.deltaiOrder()">Xem thông tin đơn hàng</button>
        </div>
        <div ng-if="$ctrl.$rootScope.user.role === 'admin'">
            <button class="btn btn-primary" ng-click="$ctrl.addNew()" data-toggle="modal"
                    data-target="#formmodal">Tạo bàn mới</button>
        </div>
        <div class="order-list">
            <label for="filter-form">Xem theo:</label>
            <select id="filter-form" class="form-control" ng-model="$ctrl.filter">
                <option value="">Tất cả</option>
                <option value="0">Các bàn chưa có người đặt</option>
                <option value="1">Bàn đã có người đặt</option>
            </select>
        </div>

    </div>

    <div class="row">
        <div class="col-md-4"
             ng-repeat="item in $ctrl.listTable | tableFilter: $ctrl.filter" data-toggle="modal"
             data-target="#detailModal" ng-click="$ctrl.showTableDetail(item)">
            <div class="item-table" ng-class="{'bg-info': item.status ===0, 'bg-gray': item.status ===1 , 'bg-danger': item.status ===2}">
                <div class="status-icon">
                    <i tooltip-placement="top" uib-tooltip="Chưa có ai đặt" class="fa fa-unlock-alt" aria-hidden="true"
                       ng-if="item.status === 0"></i>
                    <i tooltip-placement="top" uib-tooltip="Đã có người đặt" class="fa fa-key" aria-hidden="true"
                       ng-if="item.status === 1"></i>
                    <i tooltip-placement="top" uib-tooltip="Đã có người đặt và thanh toán" class="fa fa-lock" aria-hidden="true"
                       ng-if="item.status === 2"></i>
                </div>

                <h3 class="title">Bàn số {{item.name}}</h3>

            </div>

        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="detailModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">Thông tin chi tiết</h4>
            </div>
            <div class="modal-body">
                <div class="">Bàn số {{$ctrl.activeTable.name}}</div>
                <div class="">Số ghế ngồi: {{$ctrl.activeTable.numberOfSeat}}</div>
                <div class="status-table">Trạng thái:
                    <div class="status" ng-if="$ctrl.activeTable.status !== 0"> đã có người đặt</div>
                    <div class="status" ng-if="$ctrl.activeTable.status === 0"> còn trống</div>
                </div>
                <div class="">Description: {{$ctrl.activeTable.description}}</div>
            </div>
            <div class="modal-footer">
                <button type="button" id="dismiss-modal" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="$ctrl.continueToOrder()"
                        ng-if="$ctrl.activeTable.status === 0 && $ctrl.$rootScope.user.role !== 'admin'">Đặt bàn này
                </button>
            </div>
        </div>
    </div>
</div>

<!--<div class="modal fade" id="formmodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">-->
    <!--<div class="modal-dialog" role="document">-->
        <!--<div class="modal-content">-->
            <!--<div class="modal-header">-->
                <!--<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>-->
                <!--</button>-->
                <!--<h4 class="modal-title" id="">Tạo bàn mới</h4>-->
            <!--</div>-->
            <!--<div class="modal-body">-->
                <!--<form>-->
                    <!--<div class="form-group">-->
                        <!--&lt;!&ndash;<input type="text" ng-model="" class="form-control" placeholder="Name" disabled>&ndash;&gt;-->
                    <!--</div>-->
                <!--</form>-->

                <!--<button class="btn btn-primary"-->
                        <!--ng-click="$ctrl.continueToOrder()"-->
                        <!--ng-if="$ctrl.activeTable.status === 0">Đặt bàn này-->
                <!--</button>-->
            <!--</div>-->
            <!--<div class="modal-footer">-->
                <!--<button type="button"  class="btn btn-default" data-dismiss="modal">Close</button>-->

                <!--<button class="btn btn-primary"-->
                        <!--ng-click="$ctrl.continueToOrder()"-->
                        <!--ng-if="$ctrl.activeTable.status === 0 && $ctrl.$rootScope.user.role !== 'admin'">Đặt bàn này-->
                <!--</button>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->